[2013-06-21 22:49] erickpeirson opened #4 "wos2meta chokes if first name is missing"
[code]

[2013-06-30 14:17] erickpeirson opened #6 "Small fixes on SIF attribute files"
Aaron, you may have already done this in your branch? In writers.to_sif():
- The first line in each attribute file should be the name of the attribute,
- For edge attributes, the relationship/predicate should be enclosed in parentheses.

E.g. if the interaction is:
`Darwin cites Lamarck`

An edge attribute file might look like:

[code]

[2013-07-01 20:18] aabaker99 commented on #6
Erick,

Can you post a link to the SIF format reference? When I wrote the to_sif function I was basing it off of http://wiki.cytoscape.org/Cytoscape_User_Manual/Network_Formats.

I have not yet made any changes.

[2013-07-01 20:33] erickpeirson commented on #6
This might help: [http://www.cytoscape.org/manual/Cytoscape2_5Manual.html#Node and Edge Attributes]()

[2013-07-16 21:09] aabaker99 commented on #6
A temporary fix is in place. Before adding graph attributes as we discussed I wanted those networks' test cases to be up to date. They now are and I'm adding a pull request. Next I will be adding the graph attributes and making the associated additions to the test cases.

[2013-07-17 17:02] erickpeirson opened #8 "networks.nx_biblio_coupling() chokes if record has no citations"
[code]

Causes:

[code]

Line 223 was my 10-second attempt to solve this problem, but it didn't work.

But if I...

`meta_list[685]['citations'] = []`

It proceeds without complaint.

[2013-07-17 17:06] erickpeirson opened #9 "utilities.handle_attribs() sets all dates (other attributes?) to a single value"
This dataset has papers from 1999-2013

[code]

But if I run biblio_coupling, and then pull out the nodes, all nodes have date=1999:

[code]

Seems to do the same thing with titles.

[2013-07-17 17:07] erickpeirson commented on #6
Excellent.

[2013-07-19 20:40] aabaker99 commented on #8
Hi,

I believe I have fixed this issue on my branch. Your edit works you just needed to make it twice: once for the j index and once for the i index a few lines above. I made these changes and also created a test case reflecting the case of a missing citation record. Could you run the same program generating these errors (but with the aforementioned changes to Tethne) once more to see if it runs w

[2013-07-19 20:47] aabaker99 commented on #9
I don't quite follow the code snippets; are you leaving out some of the code?

Is this only happening in biblio_coupilng? I don't think this would be cause by the utility function, but I'm already in the process of changing that function. If it does only occur for biblio_coupling I found and corrected a typo in the code that could be responsible.

[2014-01-02 00:15] erickpeirson opened #12 "Test"
test

[2014-01-02 00:16] #12 closed, assigned to nobody

[2014-02-19 18:48] Phocion opened #13 "Issue parsing some WoS exports with Group Authors."
Greetings all.  Have been using Tethne as a means to parse the vast amounts of WoS exports I have for a particular project.

Out of 160 files (each containing the maximum 500 references), ~31 of them fail with the following error (although the actual string values vary):

[code]

For example, the only line "Brazilian Aging Brain Study Grp" appears in the file in question is:

[code]

I could easil

[2014-02-19 18:54] erickpeirson commented on #13
Hi there, @Phocion; glad to hear that you're finding Tethne useful! I think that I see where the hiccup is occurring. Any chance you could send along some sample data? (send to erick.peirson@asu.edu)

Thanks!

[2014-02-19 19:03] Phocion commented on #13
Thanks for the quick reply!  Just sent an email as requested under my Drexel U. account.

[2014-02-19 21:07] erickpeirson commented on #13
Ok, see whether that works. The group author ('CA') field is now treated like a regular author in readers.wos.convert. The issue was that values from CA are included in the author address field ('C1'), and so the bit of .convert() that does author-institution mapping got confused.

In the future, we should think harder about what else we might want to do with the CA field.

[2014-02-19 21:09] #8 closed, assigned to nobody

[2014-02-19 21:09] #4 closed, assigned to nobody

[2014-02-19 21:10] #9 closed, assigned to nobody

[2014-02-19 21:10] #6 closed, assigned to nobody

[2014-02-19 21:13] erickpeirson commented on #13
Oops, closed automatically. Feel free to close if this resolves the problem.

[2014-02-19 21:30] Phocion commented on #13
Thanks for the quick response!  I'll test and confirm within the hour.  One thing to consider about the CA field - at least specifically in the way I'm thinking - is that it's used to cite a body of contributors from where the analyzed data originated.  Many papers include "and the Alzheimer's Disease Neuroimaging Initiative" at the end of the author's list if they used the ADNI  dataset in their

[2014-02-20 02:37] Phocion commented on #13
Looks great!  Issue resolved.  Thanks again for the quick turn-around!

[2014-02-20 02:37] #13 closed, assigned to nobody

[2014-02-20 16:41] erickpeirson opened #14 "bug in writers"
[code]

[2014-02-23 19:19] erickpeirson commented on #14
fixed in [v0.3.0-alpha](https://github.com/diging/tethne/tree/v0.3.0-alpha)

[2014-02-23 19:19] #14 closed, assigned to nobody

[2014-02-23 19:22] erickpeirson opened #15 "add topic-modeling networks to command-line interface"
Reader: [tethne.readers.mallet](http://diging.github.io/tethne/api/tethne.readers.html#module-tethne.readers.mallet), and networks from [tethne.networks.papers.topic_coupling](http://diging.github.io/tethne/api/tethne.networks.html#tethne.networks.papers.topic_coupling),  [tethne.networks.terms](http://diging.github.io/tethne/api/tethne.networks.html#module-tethne.networks.topics) and [tethne.netw

[2014-02-23 19:25] erickpeirson opened #16 "dynamic gexf writer for collections"
http://gexf.net/format/

[2014-02-25 16:34] deryc opened #17 "Import tethne.writers"
Traceback (most recent call last):
  File "<pyshell#6>", line 1, in <module>
    import tethne.writers as wr
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/tethne/writers/**init**.py", line 7, in <module>
    import tethne.writers.collection
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/tethne/writers/collection.py", li

[2014-02-25 16:45] erickpeirson commented on #17
Looks like a bug in one of the previous versions; try installing the latest release (v0.3.1-alpha). Be sure to uninstall the old version first. Let me know if it still gives the error with the new version.

[2014-02-26 15:40] #17 closed, assigned to nobody

[2014-02-27 20:24] erickpeirson opened #18 "ValueError when building bibliographic coupling graph with threshold == 2"
Using TethneGUI, downloaded Feb 27 @ 1pm. MacOSX.

[code]

[2014-02-28 04:11] erickpeirson commented on #18
Fixed in [TethneGUI 0.3](http://sourceforge.net/projects/neotomaphenax/files/)

[2014-02-28 04:11] #18 closed, assigned to nobody

[2014-04-24 19:33] srelliorm opened #19 "Error when using tethne.writers.corpora.to_documents()"
I'm using tethne to work with JSTOR DfR data. I'm using tethne to explicitly correlate wordcounts with DOIs. Working from the command line, when I correlated the wordcounts with the DOIs, I needed to export the information in a file, which I could then use in Mallet.

Problem: When I used the command: >>> wr.corpora.to_documents('./mycorpu1s', wordcounts),

 I received the following error message:

[2014-04-28 22:45] #19 closed, assigned to erickpeirson

[2014-04-28 22:51] erickpeirson commented on #19
@srelliorm : this should fix it. Give another try (be sure to uninstall and reinstall), and reopen this ticket if you still have trouble.

[2014-07-23 01:44] erickpeirson opened #21 "tethne.classes.corpus.from_hdf5 does not load Papers"
[code]

[code]

[2014-07-24 00:01] erickpeirson opened #22 "ModelManagers should give some indications of progress"
e.g. TAPModelManager could indicate when modeling for a slice is complete

[2014-08-01 22:04] erickpeirson opened #23 "Should be able to pass one’s own stemmer and stoplist to Corpus.abstract_to_features"
Right now we just rely on the NLTK stoplist and the NLTK Porter stemmer. Users may wish to use different stoplists or stemmers, and we should make that easy.

[2014-08-04 23:49] kaiello opened #24 "During download unable to find version 0.6.0-beta"
Python 2.7 installed, tethne 0.6.0-beta downloaded and unzipped, when installing from terminal I receive this error
![screen shot 2014-08-04 at 4 37 58 pm](https://cloud.githubusercontent.com/assets/8186095/3805145/7e168ce2-1c31-11e4-9075-0109e8939908.png)
![screen shot 2014-08-04 at 4 48 32 pm](https://cloud.githubusercontent.com/assets/8186095/3805160/dd84f3e4-1c31-11e4-9f82-5ededc4bd53a.png)

[2014-08-05 00:30] erickpeirson commented on #24
Hi Ken, thanks for this. Try specifying the version explicitly:

`$ pip install tethne==0.6.0-beta`

But this should definitely get fixed for the next release.

[2014-08-05 00:35] erickpeirson commented on #21
Should be fixed as of release [0.6.0-beta](https://github.com/diging/tethne/releases/tag/v0.6.0-beta)

[2014-08-05 00:35] #21 closed, assigned to nobody

[2014-08-05 00:36] erickpeirson commented on #15
CLI is on the way-back-burner for now

[2014-08-05 00:36] #15 closed, assigned to nobody

[2014-08-05 00:36] kaiello commented on #24
Erick,

No problem.

Specifying the version worked. FYI there was the same bug in Tethne
0.5.0-dev.

Ken

On Mon, Aug 4, 2014 at 5:30 PM, Erick notifications@github.com wrote:

[2014-08-05 00:38] erickpeirson commented on #24
Glad it worked! I'll keep this open so I remember to fix it.

[2014-08-05 19:23] erickpeirson opened #25 "Methods for KL divergence on featuresets"
Using sparse matrices from Scipy

[2014-08-07 22:41] erickpeirson commented on #24
Looks like the reason for this is that `pip` ignores pre-release versions by default (see [this page](http://pip.readthedocs.org/en/latest/reference/pip_install.html#pre-release-versions)). So until we drop the `-beta` tag (which is probably not compliant anyway), use the `--pre` flag. e.g.:

[code]

I'll update the documentation to reflect this.

[2014-08-07 22:50] #24 closed, assigned to nobody

[2014-08-07 22:51] #25 closed, assigned to nobody

[2014-08-08 20:34] kaiello opened #26 "ImportError: No module named corpus"
When trying to create a corpus from using the command line:

$ >>>from tethne.readers import dfr

the following error occurs

![screen shot 2014-08-08 at 1 22 28 pm](https://cloud.githubusercontent.com/assets/8186095/3862403/5c45b748-1f3b-11e4-821e-dd011fc3ea36.png)
![screen shot 2014-08-08 at 1 23 25 pm](https://cloud.githubusercontent.com/assets/8186095/3862404/5c4e5e98-1f3b-11e4-98b8-e51491dad4

[2014-08-08 20:45] erickpeirson commented on #26
Great, thanks; checking the rest of the package to make sure we use relative imports.

[2014-08-08 21:18] erickpeirson commented on #26
Ok, should be fixed. Try [this updated release](https://github.com/diging/tethne/releases/tag/v0.6.1-beta%28patched%29), or uninstall/reinstall from PyPi (`pip install tethne --pre`). Let me know how it goes.

[2014-08-08 22:18] kaiello opened #27 "Syntax Error: EOL while scanning string literal"
After opening Python from command line and then while trying to import corpus

![screen shot 2014-08-08 at 3 17 04 pm](https://cloud.githubusercontent.com/assets/8186095/3863498/d4c303ca-1f49-11e4-99d4-af2b9f056480.png)

[2014-08-08 22:21] erickpeirson commented on #27
Hi Ken,

It looks like you are using mismatched quotation marks. If you look where the carat `^` is pointing, you've paired a double-quote `"` with a single-quote `'`.

[code]

Did you enter this by hand, or copy/paste from a tutorial? If the latter, let me know so I can fix the typo.

[2014-08-08 22:23] #26 closed, assigned to nobody

[2014-08-08 22:28] kaiello commented on #27
Erick,

From the tutorial
![screen shot 2014-08-08 at 3 28 02 pm](https://cloud.githubusercontent.com/assets/8186095/3863597/52fe686e-1f4b-11e4-8c4b-5ee83156cf1b.png)

[2014-08-08 22:31] erickpeirson commented on #27
Ok, I don't see the typo in the tutorial. See how single-quotes are paired with single-quotes? Check out  the section on strings in [this tutorial](http://en.wikibooks.org/wiki/Python_Programming/Variables_and_Strings).

[2014-08-08 23:32] kaiello commented on #27
My fault, no typo.

On Fri, Aug 8, 2014 at 3:21 PM, Erick notifications@github.com wrote:

[2014-08-09 14:44] #27 closed, assigned to nobody

[2014-08-13 16:49] kaiello opened #28 "ParseError when using dfr.read_corpus"
![image](https://cloud.githubusercontent.com/assets/8186095/3909026/85b3325a-2309-11e4-811d-c0bb8fbd7bc2.png)

`<abstract>Background. We hypothesized that the inflammatory response in the lungs of children with cystic fibrosis (CF) would vary with the type of infecting organism, being greatest with Pseudomonas aeruginosa and Staphylococcus aureus. Methods. A microbiological surveillance program ba

[2014-08-13 19:03] kaiello opened #29 "TypeError Traceback fig = C.plot_distribution('jtitle') """using wos data""""
![screen shot 2014-08-13 at 11 46 45 am](https://cloud.githubusercontent.com/assets/8186095/3910719/939a0a2c-231a-11e4-8f50-2a2ed29f596d.png)

![screen shot 2014-08-13 at 11 50 09 am](https://cloud.githubusercontent.com/assets/8186095/3910740/b4dfc8fc-231a-11e4-9b0d-041046506d1d.png)

'\n--------------------------------------------------------------------------\nTypeError

[2014-08-14 20:34] erickpeirson commented on #28
The more I think about this, the clearer it is to me that we should not attempt to accommodate invalid XML. Let's work with the JSTOR folks to correct this on their end.

I'll leave this issue open to track developments on that front.

[2014-08-14 20:36] erickpeirson commented on #29
I'm a bit confused by the two screenshots. Which error is this issue about?

[2014-08-14 20:39] erickpeirson commented on #29
Nevermind, I see now. Looks like the second screenshot is unrelated.

[2014-08-14 20:54] erickpeirson opened #30 "corpus.contents_to_features should not return anything"
Talk about annoying...

[2014-08-14 20:56] #30 closed, assigned to nobody

[2014-08-14 21:03] erickpeirson opened #31 "model.print_topics() should actually print"
Right now it just returns a string with newlines

[2014-08-14 22:47] erickpeirson opened #32 "writers.graph.to_graphml: date should be an integer, not a string"
From a .graphml document generated by tethne v0.6.1-beta:

[code]

[2014-08-14 22:52] erickpeirson opened #33 "networks.authors.coauthors: should be able to use auuri field to identify authors"
Perhaps an optional boolean parameter?

[2014-08-15 00:46] erickpeirson opened #34 "networks.features.mutual_information should use a percentile threshold"
Just like in the networks.topics methods; makes a bit more sense than a static threshold?

[2014-08-15 01:01] erickpeirson opened #35 "networks.features.mutual_information should add node labels"
labels should be str representations of words from the featureset index

[2014-08-16 20:30] #29 closed, assigned to nobody

[2014-08-16 20:54] erickpeirson commented on #35
apparently this already happens...

[2014-08-16 20:54] #35 closed, assigned to nobody

[2014-08-16 21:30] #34 closed, assigned to nobody

[2014-08-16 21:57] #33 closed, assigned to nobody

[2014-08-17 17:11] #31 closed, assigned to nobody

[2014-08-17 17:44] erickpeirson commented on #32
The real issue is that model.corpus.ldamodel.MALLETLoader was loading everything as string.

[2014-08-17 17:44] #32 closed, assigned to nobody

[2014-08-19 04:32] kaiello opened #36 "When trying to install via pip "No distributions matching the version for tethne""
Downloaded and unzipped tethne 0.6.2-beta, when running install from command line using pip unable to install

'''
Downloading/unpacking tethne
  Could not find a version that satisfies the requirement tethne (from versions: 0.3.0-alpha, 0.3.1-alpha, 0.4.0-alpha, 0.4.2-alpha, 0.6.0-beta, 0.6.1-beta, 0.6.2-beta)
Cleaning up...
No distributions matching the version for tethne
Storing debug log for f

[2014-08-19 05:10] kaiello commented on #36
Was able to install using --pre

[2014-08-19 05:24] kaiello opened #37 "When loading JSTOR Dfr corpus, OSError occurs"
Following the quickstart guide for loading data, after creating a corpus using JSTOR Dfr dataset, when trying to run the command to load JSTOR Dfr corpus

![screen shot 2014-08-18 at 10 05 42 pm](https://cloud.githubusercontent.com/assets/8186095/3961935/70953da0-275f-11e4-971a-a1f348a6d27f.png)

[code]

[2014-08-19 13:59] erickpeirson commented on #36
This is a duplicate of #24, closing.

[2014-08-19 13:59] #36 closed, assigned to nobody

[2014-08-19 14:01] erickpeirson commented on #37
The `features` param expects a list, not a string.

[2014-08-19 18:31] erickpeirson commented on #28
This should now be fixed! JSTOR applied a patch, and I created a new request for the microbiome dataset; all of the special characters are now encoded properly.

[2014-08-19 18:31] #28 closed, assigned to nobody

[2014-08-19 19:45] kaiello commented on #28
I will DL and try later today.

Ken

On Tue, Aug 19, 2014 at 11:31 AM, Erick notifications@github.com wrote:

##

Kenneth D. Aiello
Arizona State University
Center for Biology & Society
PO Box 874601
Tempe, AZ 85287- 4601

[2014-08-19 23:28] deryc opened #38 "AttributeError: 'module' object has no attribute 'corpus_from_dir'"
Following the tutorial, I am running into problems with wos.corpus_from_dir(datapath).

The error message is as follows:

Traceback (most recent call last):
  File "/Users/derycpainter/Desktop/WILLIAMS_57_networks/basic_coCitation", line 4, in <module>
    MyCorpus = wos.corpus_from_dir('datapath')
AttributeError: 'module' object has no attribute 'corpus_from_dir'

Here's a link to the page:  http

[2014-08-19 23:30] erickpeirson commented on #38
Hi Deryc, can you post your code here?

[2014-08-19 23:36] deryc commented on #38
How do I get one of those fancy code window things?

[code]

[2014-08-19 23:37] deryc commented on #38
ugh...sorry...just realized that's for multiple files

that's probably the issue

[2014-08-19 23:39] erickpeirson commented on #38
Well, that should give a different error. Can you type this into the terminal, and paste the output here?

`pip freeze | grep tethne`

Check out [this page](https://guides.github.com/features/mastering-markdown/) to learn about Markdown (fancy code window things are blockquotes).

[2014-08-19 23:40] deryc commented on #38
tethne==0.6.1-beta

[2014-08-19 23:42] erickpeirson commented on #38
Hmmm...OK. Well, you probably want 0.6.2-beta, but I'm not convinced that's the problem. Better try it anyway. I'd completely uninstall and reinstall...

[code]

Then try it again.

[2014-08-19 23:48] deryc commented on #38
output reads tethne==0.6.2-beta

also, changed wos.read(datapath)

now, this:

![screen shot 2014-08-19 at 4 48 07 pm](https://cloud.githubusercontent.com/assets/4674561/3974833/512076dc-27fb-11e4-9fc6-f32098a9ffc9.png)

[2014-08-19 23:51] erickpeirson commented on #38
Ok, so the bug was related to #26, which was fixed in 0.6.2-beta. So that's good.

The error you're getting now is because you're trying to `slice` a list. `wos.read` returns a list of `Paper` instances, not a `Corpus`. I think that you want `wos.read_corpus`.

[2014-08-19 23:55] deryc commented on #38
:(

![screen shot 2014-08-19 at 4 55 00 pm](https://cloud.githubusercontent.com/assets/4674561/3974879/4d549cf8-27fc-11e4-8fa9-068604fbe93a.png)

[2014-08-19 23:58] erickpeirson commented on #38
Open a new terminal window, and start the Python interpreter. Then do this:

[code]

[2014-08-20 00:01] deryc commented on #38
output reads

['_handle_author_institutions', '_validate', '_new_wos_dict', 'parse', 'subdict', '__name__', 'Corpus', '_parse_cr', '_create_ainstid', 'uuid', 'Dictionary', 'contains', 'corpus_from_dir', 'overlap', '__package__', 'concat_list', 're', 'strip_punctuation', 'swap', '_create_ayjid', '__doc__', 'DataError', 'string', 'attribs_to_string', '**builtins**', '**file**', '_handle_authors', 'r

[2014-08-20 00:01] deryc commented on #38
well, there's the file right there....

[2014-08-20 00:03] erickpeirson commented on #38
In that same Python session, try this:

[code]

(note that there are no parentheses)

[2014-08-20 00:04] deryc commented on #38
here's what I get

function read_corpus at 0x1071aaf50

[2014-08-20 00:07] erickpeirson commented on #38
Ok. And how are you running your script (the code you posted)?

[2014-08-20 00:08] deryc commented on #38
from idle > run

[2014-08-20 00:10] erickpeirson commented on #38
You're using the wrong IDLE. If you installed Anaconda Python, then you're probably using the Anaconda pip when you install tethne. But if you're starting IDLE from a desktop/launchpad icon, you're probably starting the IDLE that part of the built-in Python installation for OSX.

Try running your script from the terminal.

[code]

Better yet, I recommend using an iPython notebook. From the termina

[2014-08-20 00:27] deryc commented on #38
from iPython

![screen shot 2014-08-19 at 5 20 26 pm](https://cloud.githubusercontent.com/assets/4674561/3975075/bf260e80-2800-11e4-826c-1d1e4d4dcb6a.png)

[2014-08-20 00:29] erickpeirson commented on #38
Should be `time_period` (note the underscore)

[2014-08-20 00:39] deryc commented on #38
the file it spit out was a bit off

all it says:

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
graph
/graph

[2014-08-20 00:41] deryc commented on #38
current code looks like:

datapath = '/Users/derycpainter/Desktop/WILLIAMS_57_networks/williams57_downloadedrecords_all.txt'

from tethne.readers import wos
MyCorpus = wos.read_corpus(datapath)

MyCorpus.slice('date','time_period',window_size=2)

from tethne import GraphCollection
kw = {'threshold':2,'topn':200}
G = GraphCollection().build(MyCorpus, 'date','papers','cocitation',method_kwargs=kw)

[2014-08-20 15:52] erickpeirson commented on #38
How many nodes and edges are in your GraphCollection?

[2014-08-20 17:21] deryc commented on #38
![screen shot 2014-08-20 at 10 20 46 am](https://cloud.githubusercontent.com/assets/4674561/3985113/69ed7622-288e-11e4-8b74-ecea321c8c36.png)

[2014-08-20 17:24] erickpeirson commented on #38
Ok, those are the numbers of papers and citations in your corpus. But what about the [nodes](http://diging.github.io/tethne/doc/0.6.1-beta/tethne.classes.graphcollection.html#tethne.classes.graphcollection.GraphCollection.nodes) and [edges](http://diging.github.io/tethne/doc/0.6.1-beta/tethne.classes.graphcollection.html#tethne.classes.graphcollection.GraphCollection.edges) in your [GraphCollectio

[2014-08-20 17:33] deryc commented on #38
![screen shot 2014-08-20 at 10 32 55 am](https://cloud.githubusercontent.com/assets/4674561/3985282/157a5d56-2890-11e4-9d4b-69f4d7190dcb.png)

[2014-08-20 17:33] deryc commented on #38
something doesn't add up here....

[2014-08-20 17:38] erickpeirson commented on #38
That looks reasonable, but it doesn't tell you how many [nodes](http://diging.github.io/tethne/doc/0.6.1-beta/tethne.classes.graphcollection.html#tethne.classes.graphcollection.GraphCollection.nodes) and [edges](http://diging.github.io/tethne/doc/0.6.1-beta/tethne.classes.graphcollection.html#tethne.classes.graphcollection.GraphCollection.edges) are in your GraphCollection.

[code]

[2014-08-20 17:41] deryc commented on #38
I must be missing something.

![screen shot 2014-08-20 at 10 40 40 am](https://cloud.githubusercontent.com/assets/4674561/3985387/3b612292-2891-11e4-9ab9-7357de964a41.png)

[2014-08-20 17:43] erickpeirson commented on #38
Try relaxing `threshold` or `topn`. Probably there are not >= 2 co-citations among the top 200 cited references in each slice.

[2014-08-20 17:49] deryc commented on #38
still nothing.  bumped up the window size, lowered TH, raised topn.
![screen shot 2014-08-20 at 10 47 58 am](https://cloud.githubusercontent.com/assets/4674561/3985512/486dd614-2892-11e4-9d95-7a5d4a59b36c.png)

![screen shot 2014-08-20 at 10 50 22 am](https://cloud.githubusercontent.com/assets/4674561/3985536/811cb0de-2892-11e4-82ae-97da92c74a86.png)

[2014-08-20 17:56] erickpeirson commented on #38
Then raise `topn` more. Remember, you're working with more than 65,000 cited references; . You can use a float instead of an integer to specify a percentile, too. Every dataset is different, so it's going to take some inspection of the data to pick useful values for those arguments.

If you removed the `topn` parameter entirely, or set it to 0.5, and still got an empty graph then there might be a

[2014-08-20 18:03] deryc commented on #38
0.5, 0.99, 0.1, and this all gave the same empty deal
![screen shot 2014-08-20 at 11 02 48 am](https://cloud.githubusercontent.com/assets/4674561/3985695/40704828-2894-11e4-84fb-42bc45ac60de.png)

[2014-08-20 18:09] erickpeirson commented on #38
Are you in the office? I'll be in soon and can take a closer look.

[2014-08-20 18:20] deryc commented on #38
yep, see ya soon

[2014-08-20 20:12] erickpeirson opened #39 "GraphCollection.build should not overwrite method_kwargs"
GraphCollection.build is currently overwriting `method_kwargs`, which means that the user has no control over `node_id`. This causes problems for networks.papers.cocitation, because WoS corpora are indexed by `wosid` by default; .build sets `node_id` by Corpus.indexed_by, which is inappropriate for cited references (which lack wosids).

[2014-08-20 20:13] erickpeirson commented on #38
Closing this; opened #39 to deal with build weirdness.

[2014-08-20 20:13] #38 closed, assigned to nobody

[2014-08-20 20:24] deryc opened #40 "key error in collection.dxgmml"
While attempting to write a coCitation dynamic graph,  I received this error:

![screen shot 2014-08-20 at 1 23 09 pm](https://cloud.githubusercontent.com/assets/4674561/3987651/0787296e-28a8-11e4-80a3-5ad264ce4ef1.png)

[2014-08-25 15:39] #37 closed, assigned to nobody

[2014-08-25 15:41] erickpeirson opened #41 "Need mechanisms for storing/retrieving Papers from a SQL database"
Preferably, would include a subclass of Corpus that interfaces with the SQL database; to allow operations on really big corpora without tying up too much memory.

[2014-08-25 16:39] #40 closed, assigned to nobody

[2014-08-25 16:44] #39 closed, assigned to nobody

[2014-09-02 17:06] erickpeirson opened #42 "Mechanism to import Zotero collection with full-texts from PDFs"
Many users build text collections in Zotero, which can download full-text PDFs from JSTOR, PubMed, and other sources. Zotero uses pdf2text to extract articulated plain text from PDFs. A user should be able to export their Zotero collection (in Zotero RDF, say) and load it directly into a Tethne a Corpus object.

[2014-09-02 17:13] erickpeirson opened #43 "Interface with NLTK PoS tagger, allow user to select PoS in word-based networks"
E.g. should be able to do a nPMI network with only nouns

[2014-09-02 17:18] erickpeirson opened #44 "Convert LDA document-topic distribution to featureset?"
Being able to create a featureset from phi posterior values in LDA might make it easier to visualize the results of topic modeling

[2014-09-03 22:53] erickpeirson opened #45 "Paper: institution and country should be represented in a more friendly manner"
Presently the `institution` and `country` fields in `Paper` are represented using dicts. This is difficult to store in a database without a lot of overhead. There must be a simpler way!

[2014-09-04 21:06] erickpeirson opened #46 "Names of methods in networks.authors should be simplified"
It's redundant to have names like authors.author_coinstitution; should be authors.coinstitution.

[2014-09-04 21:54] erickpeirson commented on #46
Commit e3122c4456b1a12ed4bf67b941de1a75b5ab1417 also applies; actually I think that does it. `authors.author_institution` and `authors.author_papers` should remain as they are: since they are bipartite graphs those names are appropriately descriptive.

[2014-09-04 21:54] #46 closed, assigned to nobody

[2014-09-04 21:55] erickpeirson commented on #45
The relevant tests for `networks.authors` are passing, as are tests for `persistence.psql.paper.SQLPapers`.

[2014-09-04 21:55] #45 closed, assigned to nobody

[2014-09-04 22:04] erickpeirson opened #47 "Should be able to store featuresets in SQL"
Just like we can Papers (#41)

[2014-09-05 02:20] erickpeirson opened #48 "Should have option to show only non-zero slices in plot_distribution"
E.g. only journals for which there is at least one year with a non-zero value.

[2014-09-09 16:32] #41 closed, assigned to nobody

[2014-09-15 21:48] deryc opened #49 "Isolating co-citing papers {Enhancement}"
I would like to be able to take two separate records, isolate the papers that cite both papers, and build networks and analyze just those co-citing documents.

[2014-09-15 21:53] erickpeirson commented on #49
Ok; I think that we can generalize this: we need a function that returns a
list of Papers that contain some set of (one or more) features. You could
then use that list of Papers as input to some other network-building
function. Does that sound right?

##

http://gradinfo.cbs.asu.edu/?page_id=49
NSF Graduate Research Fellow
Center for Biology & Society
School of Life Sciences
Arizona State Universi

[2014-09-15 22:00] erickpeirson commented on #49
Or maybe just a list of Paper ids, since some analyses will again require access to features, which are properties of the Corpus rather than (just) the Papers themselves.

Something like...

[code]

[2014-09-15 22:14] deryc commented on #49
the ids might work better.  having access to the features attached to the papers would be wonderful. especially when trying to attach other metrics to the papers

[2014-09-18 17:37] erickpeirson opened #50 "KeyError when using plot_burstness on unigram featureset"
[code]

[code]

[2014-10-01 23:46] yzou20 opened #51 "Can't load data in Line 1 in notebook 3. Time and Change"
I received an error called ""NoneType" object is not utterable." I have attached a screenshot for your diagnosis. I used the same datadirpath for Notebook 2 and it works fine. Thanks
![screen shot 2014-10-01 at 4 35 24 pm](https://cloud.githubusercontent.com/assets/8672876/4485104/01ba8420-49c5-11e4-9630-f52bef586ccc.png)

[2014-10-02 00:02] erickpeirson commented on #51
Thanks Yawen, I'll look at this right away. In an email, can you send the offending data set?

[2014-10-02 00:26] yzou20 commented on #51
Here it is, it is very large, so i put it in the Google Drive, hope you can
download it. Thanks!!​
 download.txt
[Edit: link removed]
​

Yawen Zou

PhD Candidate
Center for Biology and Society
Arizona State University
Tel: 001-602-459-4047
Email: yzou20@asu.edu
Office: LSA 269, SoLS complex

On Wed, Oct 1, 2014 at 5:02 PM, Erick notifications@github.com wrote:

[2014-10-10 18:47] kaiello opened #52 "Author names in citations are formatted inconsistently"
Author names are formatted as all caps or caps and lower case

![screen shot 2014-10-10 at 11 45 36 am](https://cloud.githubusercontent.com/assets/8186095/4597426/ca34c480-50ad-11e4-941e-197a485c4666.png)

[2014-10-10 18:48] kaiello opened #53 "Should be a feature plotting method to set a threshold or to select the top features"

[2014-10-10 18:49] kaiello opened #54 "Should be a simple way to get the highest value features from a feature set"

[2014-10-30 22:50] yzou20 opened #55 "a small mistake in the documentation"
Hi Erick,

In your tethne 0.6.1 beta documentation, the section of Load some data, there is a mistake. See below:

Thanks

Y

[2014-10-30 23:10] erickpeirson commented on #51
The problem is at [paper.py line 138](https://github.com/diging/tethne/blob/python/tethne/classes/paper.py#L138), where `Paper.authors()` is  returning `None`.  It should return an empty list, instead.

[2015-01-12 03:14] khalidkhannz78PK opened #56 "KeyError while trying to create a topicmodel"
Hi there,

I have been trying to follow the tutorial on topic modelling on the main tethne website. I installed anaconda, tethne, nltk, and also mallet. But when I run the line

MyLDAModel = MyManager.build(Z=50, max_iter=300, prep=True)

i get the following error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "//anaconda/lib/python2.7/site-packages/tethne/model/m

[2015-01-16 05:59] erickpeirson commented on #56
Ack, this bug won't die. There were a couple of places where we assumed that metadata records and feature sets were complete for all papers in a corpus, which is often false. This should be an easy fix, hopefully can get a patch out next week.

Thanks for reporting this!

[2015-01-20 17:40] deryc opened #57 "mycorpus_meta.csv file not created"
Working with DfR data, the mycorpus_doc.txt file is created, but the mycorpus_meta.csv is not.

import tethne.readers as rd
datapath = '/Users/derycpainter/Desktop/Research/1-12-15/125_records_williams57'
wordcounts = rd.dfr.ngrams(datapath, N='uni')
import tethne.writers as wr
wr.corpora.to_documents('./mycorpus', wordcounts)

[2015-01-20 17:41] deryc commented on #57
![screen shot 2015-01-20 at 10 38 29 am](https://cloud.githubusercontent.com/assets/4674561/5822387/de434950-a090-11e4-83f2-92e7e32f33cb.png)

however, in the notebook, the file shows as being created.

[2015-01-20 19:17] erickpeirson commented on #57
`writers.corpora.to_documents` only writes the metadata file if the optional kwarg `metadata` is provided (default is `None`). The documentation is a bit unclear on that point, so I should update it accordingly. Or maybe it should have a non-none default so that it always writes a metadata file...thoughts on what you'd prefer?

[2015-01-20 19:38] deryc commented on #57
I think a non-none default would be best.  I mean, when is metadata a bad
thing?

On Tue, Jan 20, 2015 at 12:17 PM, Erick notifications@github.com wrote:

##

Deryc Painter
Research Assistant
Ph.D Student
School of Life Sciences and the Center for Biology and Society
Arizona State University
Tempe, Arizona 85287-4501

http://devo-evo.lab.asu.edu/?q=dpainter
http://gpse.asu.edu/gpse.asu.edu/GPSE_Me

[2015-01-20 22:59] deryc commented on #57
Current state of things, not sure what to make of it.

![screen shot 2015-01-20 at 4 02 15 pm](https://cloud.githubusercontent.com/assets/4674561/5828051/43a2effe-a0bd-11e4-96b5-c15c3be04964.png)

[2015-01-20 23:11] erickpeirson commented on #57
~~See the docstring for to_documents; expects metadata kwarg to be a dict.~~

[2015-01-26 03:26] khalidkhannz78PK commented on #56
Hi Erick,

Any update on rectifying this issue??

[2015-02-03 14:46] erickpeirson commented on #56
Yes, sorry it took so long. The patched version is available as release [v0.6.3.3-beta2 ](https://github.com/diging/tethne/releases/tag/v0.6.3.3-beta2), or via [PyPI](https://pypi.python.org/pypi/tethne/0.6.3.3-beta).

If you're using pip, you should be able to just do:

[code]

Let me know whether this solves the problem.

[2015-02-03 14:49] #51 closed, assigned to nobody

[2015-02-03 14:53] erickpeirson commented on #57
I take that back, not a dict:

[code]

For an example of `to_documents` in use, check out the [`_generate_corpus` method in `MALLETModelManager`](https://github.com/diging/tethne/blob/python/tethne/model/managers/mallet.py#L138).

[2015-02-05 10:40] faryou opened #58 "error with import Scopus data in tethne package on python"

[2015-02-05 10:46] faryou opened #59 "error with import Scopus data in tethne package on python"
File "<ipython-input-13-892c09bdba26>", line 1, in <module>
    C = scopus.read_corpus('G:/scopus1.csv')

  File "C:\WinPython-32bit-2.7.9.1\python-2.7.9\Lib\site-packages\tethne-0.6.1-beta\tethne\readers\scopus.py", line 19, in read_corpus
    papers = read(path)

  File "C:\WinPython-32bit-2.7.9.1\python-2.7.9\Lib\site-packages\tethne-0.6.1-beta\tethne\readers\scopus.py", line 138, in read
    #

[2015-02-05 10:51] faryou opened #60 "Error with import isi-wos data in tethne package on python"
from tethne.readers import wos
papers = wos.read('G:\text.txt')
Traceback (most recent call last):

  File "<ipython-input-4-3199eee4429b>", line 1, in <module>
    papers = wos.read('G:\text.txt')

  File "C:\WinPython-32bit-2.7.9.1\python-2.7.9\Lib\site-packages\tethne-0.6.1-beta\tethne\readers\wos.py", line 643, in read
    raise IOError("Invalid path.")

IOError: Invalid path.

[2015-02-05 11:01] faryou opened #61 "Error with import isi-wos data in tethne package on python"
![tethne1](https://cloud.githubusercontent.com/assets/10322370/6059156/94171cc0-ad43-11e4-97e7-1bb6e7dabdf3.JPG)

[2015-02-05 11:06] faryou opened #62 "error with import Scopus data in tethne package on python"
![tethne2](https://cloud.githubusercontent.com/assets/10322370/6059231/4d372a06-ad44-11e4-94b3-76484dc95035.JPG)

[2015-02-05 11:11] #58 closed, assigned to nobody

[2015-02-05 11:12] #59 closed, assigned to nobody

[2015-02-05 11:12] #60 closed, assigned to nobody

[2015-02-05 15:24] erickpeirson commented on #62
Hi @faryou , thanks for posting this. Can you send along the file that you're trying to parse, so that I can take a look? The Scopus reader is not very polished, so I wouldn't be surprised to find a few kinks.

[2015-02-05 15:26] erickpeirson commented on #61
Please send along the file that you're trying to parse, so that we can get to the bottom of this exception.

[2015-02-05 16:52] faryou commented on #61
tanx a lot.
the file is

On Thu, Feb 5, 2015 at 6:56 PM, Erick notifications@github.com wrote:

*\* removed WoS data **

[2015-02-05 16:56] faryou commented on #62
Hi
tanx a lot...
I amator in tethne so maybe error belong me but this error is very simple...
the file is

On Thu, Feb 5, 2015 at 6:54 PM, Erick notifications@github.com wrote:

[2015-02-13 15:46] erickpeirson commented on #62
Hi @faryou ; looks like the attachments didn't come through. Can you send them directly, to erick [dot] peirson [at] asu [dot] edu ?

[2015-02-16 10:25] mubashirqasim commented on #56
Hi Eric,

You may also have noticed the Mallet path error in Window or received a query from some other tethne user.

When I try to build the model using following syntax, I am getting the following error in windows. However the program runs fine in Linux.

model = M.build(Z=50, max_iter=300, prep=True)

OSError                                   Traceback (most recent call last)
<ipython-input-12-

[2015-02-16 14:18] erickpeirson commented on #56
Hi @mubashirqasim,

Can you post your code for initializing the MALLETModelManager? Its constructor accepts a parameter mallet_path, and I'm specifically interested in what you're passing there.

Tethne is almost entirely untested in Windows. Maybe if I get some time/funding I'll start pushing it in that direction, but until then I'm afraid that you'll find plenty of odd things when you run Tethne

[2015-02-16 14:21] erickpeirson commented on #61
What procedure are you using to download this file from the Web of Science? It looks like you're getting is a tab-delimited file with field-tag headers, whereas Tethne expects just a plain field-tagged file (what WoS calls "plain text"). Take a look [here](http://diging.github.io/tethne/doc/0.6.1-beta/tutorial.getting_data.html#web-of-science) for details.

[2015-02-16 18:07] faryou commented on #61
tanx a lot erick tren.

On Mon, Feb 16, 2015 at 5:51 PM, Erick notifications@github.com wrote:

[2015-02-16 19:14] mubashirqasim commented on #56
Hi Eric,

Thanks for the prompt response. Here is the code to call MALLETModelManager.

from tethne.model.managers import MALLETModelManager
malletpath = 'c:/mallet'
outpath = 'c:/tmp/out'
feature = 'unigrams_filtered'
MyManager = MALLETModelManager(MyCorpus, feature, outpath, mallet_path=malletpath)

[2015-02-18 08:38] mubashirqasim opened #63 "IndexError: list index out of range"
Hi Eric,

I am processing JSTOR DFR dataset of 5000 papers using the following code:

MyManager = MALLETModelManager(MyCorpus, feature, outpath, temppath = temp, mallet_path=malletpath)
MyLDAModel = MyManager.build(Z=20, max_iter=300, prep=True)

The same code performs well on a small dataset of 250 papers. However, I am getting the following error with the large dataset.

Traceback (most recent c

[2015-02-22 13:06] faryou commented on #62
I send you  the data 6 days ago but not answer...

[2015-03-07 07:49] faryou commented on #62
hi  i don't received answer for my error!!!
please help me.

[2015-03-13 22:10] khasseh opened #64 "error=2"
when I select the file and choose WOS and click on "Read files", I encounter with a message:
Couldn't run script: Cannot run program "python": CreateProcess error=2, The system cannot find the file specified
What does it mean? What shall I do?

[2015-03-17 19:33] erickpeirson commented on #64
Hi @khasseh; sounds like you're using the GUI that we put together for a course a few semesters ago, and not the tethne Python library itself. Is that correct?

[2015-03-17 19:37] erickpeirson commented on #62
Hi @faryou; just so you know, this is maintained as a side project as I have the time -- nobody gets paid for this. So, sorry, I'll help as I am able.

Did you take a look at the documentation linked from #61? Sounds to me like the Scopus data are not formatted as expected. Try downloading them again, following the instructions linked from issue #61. In the meantime, I'll keep this issue open so t

[2015-03-17 19:38] #61 closed, assigned to nobody

[2015-03-18 08:19] khasseh commented on #64
Hi
Yes, you are right. What shall I do?
در تاریخ ۱۷ مارس ۲۰۱۵ ۲۳:۰۳، "Erick" notifications@github.com نوشت:

[2015-03-18 08:24] faryou commented on #61
tanx a lot

[2015-04-01 00:38] zarthon opened #65 "Problems with LDAModel load"
I am trying to use tethne to load my LDA model output. My model is created using set of webpages on the internet. I am just playing it around and thankfully I was able to hack my way to make it work.
While loading I  faced couple of problems,
- I didn't have a metadata file. Is the file really necessary? What if I don't have any meta data with my documents?
- I got a key lookup error in line 76 te

[2015-04-17 10:08] Koptyaevas opened #66 "Problems with Corpus.slice"
Hi there,
I'm really new in programming, that's why my question can be probably boring or stupid, sorry for this! I'm trying to build co-authorship graph in Gephi (_graphml format_). Everything is fine, but I don't understand, how to import dates in the same file. My code is following:

[code]

So, in this **file.graphml** I have **authors** and **institutions**, but I don't have any **years** (wh

[2015-05-26 17:25] erickpeirson opened #67 "dfr readers should preserve full author names"
At the moment it only retains first and middle initials, WoS-style.

[2015-05-26 21:57] erickpeirson commented on #66
Hi @Koptyaevas, sorry for the delay in getting back to you about this. Probably the easiest thing would be to pass the `edge_attribs` keyword argument to `coauthors`. For example:

[code]

That should give you an attribute called `date` on each of your edges. Does that do what you want? If not, tell me more about what the desired behavior is, and we'll try to incorporate that into the next version

[2015-05-26 22:01] erickpeirson commented on #56
Flagging this for a future Windows-compatible version

[2015-05-26 22:09] erickpeirson commented on #64
Sorry for the delay in replying. The GUI is way behind, and probably won't be updated. There are plans for a web application, however; keep an eye on this repo if you're interested.

[2015-05-26 22:09] #64 closed, assigned to nobody

[2015-05-26 22:10] #57 closed, assigned to nobody

[2015-06-12 18:29] erickpeirson commented on #67
This should now be fixed in branch [`refactor`](https://github.com/diging/tethne/tree/refactor).

[2015-06-23 14:11] erickpeirson opened #68 "Interoperability with iGraph"
Should explore options for interoperating with iGraph, e.g.
- NetworkX -> iGraph converter
- `iGraphCollection`
- Methods in `tethne.networks` can return igraph `Graph` objects instead of NetworkX `Graph`s.

[2015-06-23 14:14] erickpeirson opened #69 "Interoperability with graph-tool"
Should consider ways to interoperate with [graph-tool](https://graph-tool.skewed.de/static/doc/quickstart.html).
- `tethne.networks` methods can return graph-tool `Graph`s
- `gtGraphCollection`
- NetworkX -> graph-tool converter

[2015-06-23 14:25] erickpeirson opened #70 "Method to collapse GraphCollection into a single Graph"
This should probably be a class-method that operates on the internal MultiGraph. Numbers of edges for each vertex pair should be stored as a weight attribute.

[2015-06-25 13:12] NicolasBelloy opened #71 "wos.read returns error"
Hi,
I try to read a file from web of science with

but it returns me this message:
UnboundLocalError: local variable 'wos_dict' referenced before assignment

Thanks for your help.
NB

[2015-06-25 13:59] NicolasBelloy commented on #71
I close the issue (don't know how to do it on github)

My mistake was to not select plain text when exporting the file on web of knowledge

[2015-06-25 13:59] #71 closed, assigned to nobody

[2015-06-25 14:01] NicolasBelloy opened #72 "a merge name function"
Is it possible to merge name depending on the formatting in the the imported file ?
ex : Doe, J = Doe, John

[2015-06-25 16:06] erickpeirson commented on #72
Yes, we could do something like that. Right now, full-names and initial-names are stored separately. In v0.7 (coming very soon), it's something like:

[code]

Since WoS is inconsistent in whether it records include author full names, some papers have `authors_full` and others don't. The `authors` property will return the value of `authors_full` if it's available; otherwise, it returns `authors_ini

[2015-06-25 16:09] erickpeirson commented on #65
Hi @zarthon ; sorry for the delay in getting back to you. v0.7 is a fairly significant refactor, and there are some big changes to how metadata is handled in the MALLET interface. I'll update this issue with more details in a few days.

[2015-07-07 20:50] #67 closed, assigned to nobody

[2015-07-07 20:52] erickpeirson commented on #63
This should be corrected in v0.7. Closing for now.

[2015-07-07 20:52] #63 closed, assigned to nobody

[2015-07-07 20:57] #70 closed, assigned to nobody

[2015-07-07 20:59] erickpeirson commented on #50
`plot_burstness` is removed in v0.7

[2015-07-07 20:59] #50 closed, assigned to nobody

[2015-07-07 21:04] erickpeirson commented on #52
See tests in v0.7:
[`test_readers_dfr`](https://github.com/diging/tethne/blob/python/tethne/tests/test_readers_dfr.py#L12)
[`test_readers_wos`](https://github.com/diging/tethne/blob/python/tethne/tests/test_readers_wos.py#L33)

[2015-07-07 21:04] #52 closed, assigned to nobody

[2015-07-07 21:12] #54 closed, assigned to nobody

[2015-07-07 21:14] #44 closed, assigned to nobody

[2015-07-07 21:15] erickpeirson commented on #47
This is outside the scope of the project.

[2015-07-07 21:15] #47 closed, assigned to nobody

[2015-07-07 21:32] erickpeirson commented on #49
In v0.7, this is possible using `Corpus`' new `__getitem__` behavior. To select papers that cite `ROBERTS 1985 CELL` you would do:

[code]

To get a subcorpus (e.g. to use in a network-building method), use the `subcorpus` class-method.

[code]

[2015-07-07 21:32] #49 closed, assigned to nobody

[2015-07-08 17:41] #42 closed, assigned to nobody

[2015-07-08 17:43] erickpeirson commented on #43
On second thought, including NLTK in the requirements increases the installation footprint considerably. Instead, we should focus on making the network-building mechanisms flexible enough to support this use-case for users who are already using NLTK.

[2015-07-08 17:56] erickpeirson commented on #65
The API for working with MALLET is much simpler now. Assuming that you have already generated a `Corpus` with some features (unigrams, say), you can fit an LDA model with MALLET using:

[code]

If you want to perform the CL call to MALLET yourself, you can use the `LDAModel` to generate a MALLET-readable corpus...

[code]

...and then read in the results after you fit the LDA model.

[code]

All m

[2015-07-08 17:56] #65 closed, assigned to nobody

[2015-07-08 18:50] erickpeirson commented on #53
Going to close this for now -- in v0.7 we moved away from plotting.

[2015-07-08 18:50] #53 closed, assigned to nobody

[2015-09-01 01:08] erickpeirson opened #79 "Update readers.dspace to use new DSpace API"
See [this page](https://hpsrepository.asu.edu/rest)

[2015-09-08 23:26] nischalsamji opened #80 "The zotero reader breaks while loading a corpus."
When trying to import a corpus generated from a corpus getting the following error. The folder contains a rdf exported from zotero.

[code]

[2015-09-14 00:05] gkumbhat opened #81 "Zotero not able to parse unicode characters at some places"
When we try to run the test cases on some data, it sometimes fails if the data has unicode characters at some places (example: title)

The problem occurred while running the test file, using following command:
`nosetests tethne/tests/test_readers_zotero.py`

Expected output:
`OK`

ERROR: test_read_nocorpus (tethne.tests.test_readers_zotero.TestZoteroParser)

[code]

[2015-09-14 00:07] ravikanth720 opened #82 "Cannot read a zotero rdf file. List index out of range error"
The following error encountered when reading a zotero rdf containing 10 records.
## Steps to recreate the issue.
1. Download 10 papers from jstor using zotero
2. Place it in appropriate folder with proper naming convention (tethnehome/tethne/tests/data/dataset/dataset.rdf)
3. Change the number of papers the test is expecting from 12 to 10
4. Run the test for zotero reader as shown below

`(tethneE

[2015-09-14 00:11] gkumbhat opened #83 "DFR file parsing error (not able to find citations.xml file)"
When we try to load data from dfr files using following command (in python):

[code]

System is not able to find citations.xml file, because its searching for "citations.XML" file. The default file generated by system is citations.xml.

[code]

[2015-09-14 03:54] yzou20 opened #84 "can not read a wos directory, error shown in the attached pic"
![screen shot 2015-09-13 at 8 46 44 pm](https://cloud.githubusercontent.com/assets/8672876/9841801/8b133d7a-5a59-11e5-80f3-a2d512034a04.png)

[2015-09-15 21:45] nischalsamji commented on #81
Issue also present in tethne/readers/zotero.py in handle_author() function.

[2015-09-15 21:49] nischalsamji opened #85 "Multiple Parsing errors in Zotero Reader."
The Zotero reader has multiple parsing errors while encoding/ decoding unicode data.

Error occurred while trying to import a zotero corpus using tethne/readers/zotero.read()
Test data provided on request

error log:

[code]

[2015-09-15 21:58] erickpeirson commented on #85
@nischalsamji, encoding is the bane of my existence. We should develop a solution that fixes this problem in a systematic way.

[2015-09-15 22:02] nischalsamji commented on #85
@erickpeirson Every developer's nightmare !!! Exploring different solutions, Will discuss with others and hopefully fix this thing !!!

[2015-09-15 23:10] nischalsamji commented on #80
Updated the branch bugfix- #80 with a fix. Testing in progress.

[2015-09-16 18:17] erickpeirson opened #87 "JSTOR DfR reader should be able to read full-text content if available"
The JSTOR DfR reader currently reads in N-gram data, as specified by the user. The reader should also be able to read in full-text content, and transform that content into `StructuredFeature` instances and  a `StructuredFeatureSet`.

[2015-09-18 16:29] yzou20 opened #89 "the way wos reader module analyzes the names of the authors of the references"
For authors whose last name has two characters, the wos reader module breaks the last name into two parts and treats them as first name and last name. For example, for author "van Kampenng NG", the tethne module reads the last name as "van," and the first name as "Kampenng," and ignores the real firstname "NG."

[2015-09-18 17:30] erickpeirson commented on #85
@nischalsamji Excellent. Look for the point at which the file/buffer is opened. Depending on how the file pointer is getting created, there should be a simple way to set the encoding. That's probably the most straight-forward approach, unless there is something strange going on.

[2015-09-18 19:02] erickpeirson opened #90 "This is a test issue"
Testing testing

[2015-09-18 19:03] #90 closed, assigned to nobody

[2015-09-18 19:09] nischalsamji commented on #89
Hi Yawen, So Is this the format that you are expecting?

First Name: NG
Last Name: Kampenng

[2015-09-18 19:24] erickpeirson commented on #90
TETHNE-90 test

[2015-09-18 19:26] erickpeirson commented on #89
This is hard. One thing that you might consider is using a whitelist of affixes in the name parsing logic. Eg see Wikipedia: https://en.m.wikipedia.org/wiki/List_of_family_name_affixes

---

Erick Peirson
Postdoctoral Scholar
ASU-SFI Center for Biosocial Complexity
Arizona State University

[2015-09-18 23:44] nischalsamji commented on #85
@erickpeirson Think the issue is from rdflib used to parse .rdf files.

[2015-09-19 00:04] erickpeirson commented on #85
Hmmm, can you say more about what you think is going wrong?

---

Erick Peirson
Postdoctoral Scholar
ASU-SFI Center for Biosocial Complexity
Arizona State University

[2015-09-19 07:04] yzou20 commented on #89
Thanks for the info. I will think about that!

On Fri, Sep 18, 2015 at 12:26 PM, Erick notifications@github.com wrote:

[2015-09-23 21:38] gkumbhat commented on #84
I have solved this error by changing the encoding to latin-1 in wos.py at line 130 and 132. I also changed the default format of  data in base.py to string. but while testing the same dataset which ywang used I encountered another error:

Traceback (most recent call last):
  File "run.py", line 3, in <module>
    papers=wos.from_dir(datadir)
  File "/home/gkumbhat/Tethne/tethne/tethne/readers/wos.

[2015-09-23 22:16] erickpeirson commented on #84
Glad you're making progress! Be sure to work on one problem at a time. Looks like this is unrelated, so create a new issue for it. And if you work on it, do so in a new branch.

---

Erick Peirson
Postdoctoral Scholar
ASU-SFI Center for Biosocial Complexity
Arizona State University

[2015-09-24 20:23] gkumbhat opened #92 "WOS not able to detect author name in paper"
Occured when trying to run test cases for wos parser on ywang's dataset.

[code]

[2015-09-24 20:30] erickpeirson commented on #92
@gkumbhat What does the author data for this entry look like?

[2015-09-24 21:48] ravikanth720 commented on #82
This bug is fixed in the latest version of code from a different fix.
I tested it with different zotero rdf files

[2015-09-24 21:49] erickpeirson commented on #82
@ravikanth720 Be sure to mention this issue in your commit messages and pull requests. See [this page](https://github.com/blog/957-introducing-issue-mentions). That way we can see exactly what you're talking about!

[2015-09-24 22:00] ravikanth720 commented on #82
#82 does not seem to be a problem any more with the latest version of develop branch.
There is no additional commit required for this issue.
Sorry for not being clear before. Can I close this defect? @erickpeirson

[2015-09-24 22:02] erickpeirson commented on #82
Haha, you don't have to tag the issue in a comment on the issue, I just thought that you had code somewhere.

Yes, if this is no longer a problem, go ahead and close it.

[2015-09-24 22:02] erickpeirson commented on #82
Haha, you don't have to tag the issue in a comment on the issue, I just thought that you had code somewhere.

Yes, if this is no longer a problem, go ahead and close it.

[2015-09-24 22:03] #82 closed, assigned to ravikanth720

[2015-10-01 23:10] nischalsamji commented on #80
Fixed the Issue bugfix-#80 merged with develop

[2015-10-01 23:10] #80 closed, assigned to nischalsamji

[2015-10-01 23:12] nischalsamji commented on #85
@erickpeirson Need help on this issue. As you can see, the last line of the stacktrace

[code]

indicates that the error is in rdflib. Am I going in the right direction.

[2015-10-01 23:17] erickpeirson commented on #85
@nischalsamji Well, the error originates in rdflib, but that may not be the ultimate source of the problem. Take a close look at the error:

`...line 1282, in __str__`

That means that the problem arises when we attempt to coerce something (whatever class owns that chunk of code) to a str, e.g. by doing something like `str(someobj)`.

So, take a look at the line just above it; do you see where tha

[2015-10-01 23:30] nischalsamji commented on #85
Yes !!! I fixed the issue. Writing tests now.

[2015-10-01 23:37] erickpeirson commented on #85
Excellent; good work!

[2015-10-02 01:18] nischalsamji commented on #85
@erickpeirson I need to run the existing tests for a new dataset i.e a new .rdf file. I am planning to do the tests in this way...

[code]

Is this is a good approach? Is there a better way to do it?

[2015-10-02 01:39] nischalsamji commented on #81
Guess this is a duplicate of issue  - #85

[2015-10-02 01:39] #81 closed, assigned to nobody

[2015-10-02 07:41] nischalsamji opened #95 "Zotero Parser breaks when trying to read a single page number."
While loading a .rdf file, the zotero parser breaks.
Dataset provided on request.

The parser works well when a date range is proper as specified.

[code]

The parser breaks when there is a single page number.

[code]

with the error:

[code]

[2015-10-02 07:54] nischalsamji commented on #95
@erickpeirson please tell me the expected behavior of the postprocess_pages() to fix the bug.

[2015-10-02 15:10] erickpeirson commented on #95
[postprocess_pages](https://github.com/diging/tethne/blob/develop/tethne/readers/zotero.py#L135) should set `pageStart` and `pageEnd` attributes, if data are available. A single page number should belong to `pageStart`, leaving `pageEnd` unset.

[2015-10-05 11:21] nischalsamji opened #98 "Yet another unicode decode error."
Unicode decode error while loading a zotero corpus.

[code]

[2015-10-05 11:54] nischalsamji opened #101 "The Zotero Parser needs to handle organization names as well as authors."
The Parser works fine when the author is a person, but breaks when the author is an organization.
For instance, In the test rdf I used, an organization is in the author

[code]

In this case, the reader breaks.

[2015-10-05 11:54] nischalsamji commented on #101
@erickpeirson Please suggest a way to go about this issue.

[2015-10-05 15:51] erickpeirson commented on #101
This is tough, since this basically means that Zotero is abusing the foaf
schema. How exactly does the reader break?

##

https://asu.academia.edu/ErickPeirson
Postdoctoral Researcher
Arizona State University

On Mon, Oct 5, 2015 at 4:54 AM, Nischal Samji notifications@github.com
wrote:

[2015-10-13 16:33] #98 closed, assigned to nobody

[2015-10-13 16:33] #95 closed, assigned to nischalsamji

[2015-10-13 16:34] erickpeirson commented on #85
This is fixed in pr #96

[2015-10-13 16:34] #85 closed, assigned to nobody

[2015-10-13 16:37] erickpeirson commented on #83
This is fixed in pr #94

[2015-10-13 16:37] #83 closed, assigned to gkumbhat

[2015-10-20 20:06] yzou20 opened #106 "my data has 9932 WOS entries, but tethne only reads 9902 entries."
If you want the data, please email me. --Yawen

[2015-10-20 20:09] erickpeirson commented on #106
Hmm, that's odd; is it possible that there are duplicates?

Please do send the data along

##

https://asu.academia.edu/ErickPeirson
Postdoctoral Researcher
Arizona State University

On Tue, Oct 20, 2015 at 1:06 PM, yzou20 notifications@github.com wrote:

[2015-10-22 14:42] erickpeirson opened #108 "DfR reader chokes on non-integer N-gram weights"
Some versions of JSTOR DfR generate floating-point N-gram weights (counts). `tethne.readers.dfr.read` raises the following in v0.7.12:

[code]

[2015-10-22 14:45] nischalsamji commented on #108
@erickpeirson can I look into this bug?

[2015-10-22 14:48] erickpeirson commented on #108
Already almost fixed; I just wanted to keep track of it in case others had
the same problem. Thanks though! :-)

##

https://asu.academia.edu/ErickPeirson
Postdoctoral Researcher
Arizona State University

On Thu, Oct 22, 2015 at 7:45 AM, Nischal Samji notifications@github.com
wrote:

[2015-10-29 15:18] #108 closed, assigned to erickpeirson

[2015-11-19 16:54] #92 closed, assigned to gkumbhat

[2015-11-19 16:54] #84 closed, assigned to gkumbhat

[2015-11-22 16:36] Mutluk opened #121 "Missing Modules"
Hello Eric,

I am new in Python and i am trying to analyse WOS data. I am using Python 2.7.10 and tethne-0.7.22 is already installed. However, I can not find all the modules (eg. there is not "readers.wos.parse", instead there is only "readers.wos" , and many more modules are missing). I thought this happened because of the version and tried to install tethne-0.7.25 from "https://pypi.python.org/p

[2015-11-22 17:10] erickpeirson commented on #121
Hi Mutlu,

To start, uninstall and reinstall tethne; there is a new version out this morning.

pip uninstall tethne
pip install tethne

If you get the permission error again, you may have to do this as root (prepend "sudo" to the commands above).

As for the missing modules, can you post your code? Particularly your import statements.

The documentation is a bit behind, and the API changed quite a

[2015-11-22 17:33] Mutluk commented on #121
Hi Eric,

Thank you very much for your quick response. I could install the 0.7.25 version. I still don't have the same modules.

Simply,

import tethne.readers as rd
from tethne.readers import wos
papers = rd.wos.read("/path/to/Article_50.txt")
papers[0]

This works: <tethne.classes.paper.Paper at 0x110a6a610>

However, the below one:
wos_list = rd.wos.parse("/path/to/Article_50.txt")
wos_list[0].

[2015-11-22 17:41] erickpeirson commented on #121
Gotcha. Yes, many extraneous functions were removed in 0.7. parse() was removed, and now read() performs parsing and generates a Corpus instance.

We're working hard on updating the documentation. Are there any other functions that you were hoping to use that are missing?

[2015-11-22 17:43] erickpeirson commented on #121
Oh, and if you have ipython installed, you might find these useful: http://github.com/diging/tethne-notebooks

[2015-11-23 03:36] herrtao opened #122 "topic modeling"
can I use Tethne to do topic modeling for my own txt files, about 700 different files?

[2016-03-10 02:02] tomvannuenen opened #136 "ImportError tethne.readers as rd"
Dear Eric,

I'm trying to run Tethne but am running into trouble when trying to import the module. Running `$ pip show tethne` yields:

[code]

But when trying to importing Tethne in Python 3.x with `import tethne.readers as rd`, Python tells me:
`ImportError: No module named 'tethne.readers'; 'tethne' is not a package`

When trying the same in Python 2.7:

[code]

I tried uninstalling/reinstallin

[2016-03-14 01:41] KHoover2009 opened #137 "direct_citation creates undirected graph with no node attributes"
tethne.networks.papers.direct_citation no longer creates a directed citation network. instead it produces a undirected graph making intelligent interpretation difficult. Additionally somewhere between version .4 and .7 it lost the ability to create node attributes by passing a list argument.

help?

[2016-03-14 12:08] erickpeirson commented on #137
Yikes, that's odd. Looking into it.

[2016-03-14 12:18] erickpeirson commented on #136
Hi @tomvannuenen, thanks for trying `tethne`. Tethne is not yet compatible with Python 3.x, so I'm not surprised on that front. For Python 2.7, I wonder if there is something funky going on with multiple versions of Python -- what happens when you install Tethne the "old-fashioned" way? i.e. download the [latest release](https://github.com/diging/tethne/releases), and then `python setup.py install

[2016-03-18 15:16] erickpeirson commented on #137
@aosingh Can you take a look at this today?

[2016-03-18 15:17] #121 closed, assigned to nobody

[2016-03-18 15:21] aosingh commented on #137
@erickpeirson
ok, will pick this today.

[2016-03-18 17:24] aosingh commented on #137
@erickpeirson,
The method, as shown below, returns a Graph object. The class nx.Graph is the base class for undirected graphs.

 return _generate_graph(**nx.Graph**, pairs, node_attrs=node_type,
                           min_weight=min_weight)

We can modify it to return a DiGraph.

[2016-03-18 17:25] erickpeirson commented on #137
Yes, we should change that to a `DiGraph`

##

https://asu.academia.edu/ErickPeirson
Postdoctoral Researcher
Arizona State University

On Fri, Mar 18, 2016 at 1:24 PM, Abhishek Omprakash Singh <
notifications@github.com> wrote:

[2016-03-18 18:17] aosingh commented on #137
Fixed and tested it. Also changed the test case validation to self.assertIsInstance(g, **nx.DiGraph**).
Please find below an execution trace for wos corpus.

[2016-03-18 18:18] erickpeirson commented on #137
Awesome; can you raise a PR?

[2016-03-18 18:46] aosingh commented on #137
PR raised.

[2016-05-18 07:32] ghost opened #143 "Possibility to ignore certain WoS-tags"
Hi,

first of all, thanks for this amazing python package.

The corpus object in my analysis gets really huge.  For example i don't need Funding information, mail adresses and some more. Is it possible to ignore certain Web of Science field tags when populating the paper-objects?

Like this?
`ignore_tags = ['EM', 'FU']`

[2016-05-18 08:09] TSchroth opened #144 "value error importing metadata zotero RDF"
Hi Erick and Team,
trying to parse a zotero RDF metadata of ca. 800 articles including abstracts, with
`zotero_export_path = '/Users/schroth/Desktop/SOEP/SOEP'

metadata = zotero.read(zotero_export_path, index_by='link', follow_links=False)`
seeing this

<img width="872" alt="zoterovalueerror" src="https://cloud.githubusercontent.com/assets/18705678/15351327/164d3b5a-1cdf-11e6-912d-f0356f92d0ce.pn

[2016-05-18 10:12] erickpeirson commented on #143
@epipremnum Yeah, that's a great idea. Just the last few days I have been working on "streaming" representations of corpora and papers (i.e. on disk, in a database) to cut down on memory overhead -- the logic is basically as you describe, to pass over the metadata records once and load into memory only the immediately-needed fields. So your suggestion is a logical continuation of that line of work

[2016-05-18 10:24] erickpeirson commented on #137
@KHoover2009 Can you confirm that this fixes the problem?

Be sure to install the latest version of tethne:

[code]

[2016-05-18 10:27] erickpeirson commented on #144
@TSchroth @janako Can you try the latest version of tethne (just released), v0.7.30 (cef285e85a08cd2ce2e83a215d1cda0906f2d3a1), and confirm that the bug is (or isn't) fixed?

Be sure to install the latest version from PyPI:

[code]

and restart your kernel if you are currently working in a Jupyter notebook.

[2016-05-18 15:41] KHoover2009 commented on #137
Confirmed

Kevin Hoover
kevin.hoover@ucdenver.edu

---

From: Erick notifications@github.com
Sent: Wednesday, May 18, 2016 4:24:07 AM
To: diging/tethne
Cc: Hoover, Kevin; Mention
Subject: Re: [diging/tethne] direct_citation creates undirected graph with no node attributes (#137)

@KHoover2009https://github.com/KHoover2009 Can you confirm that this fixes the problem?

Be sure to install the latest

[2016-05-18 16:09] ghost commented on #143
Hi Erick,

thanks for the quick response. That would be great.

For now i wrote a script to preprocess my bibliography files. I copied all lines corresponding to tags i wanted to keep to a new file. Tethne then gets only these lines as input that i am interested in. It works. But there is still a lot of memory used.

Thank you.

[2016-05-18 19:44] erickpeirson commented on #137
Fantastic; thanks!

---

Erick Peirson
Postdoctoral Scholar
ASU-SFI Center for Biosocial Complexity
Arizona State University

[2016-05-19 03:20] #137 closed, assigned to nobody

[2016-05-19 03:21] #144 closed, assigned to erickpeirson

[2016-05-19 03:27] erickpeirson commented on #143
This will be [TETHNE-124](https://diging.atlassian.net/browse/TETHNE-124).

[2016-05-20 15:05] ghost opened #146 "Transform FeatureSet"
Hi,

i refer to your Notebook
[6. Words and topic modeling.ipynb](https://github.com/diging/tethne-notebooks/blob/master/6.%20Words%20and%20topic%20modeling.ipynb)

I tried to follow your code and use it for my own WoS-Corpus. You create a FeatureSet for the abstract field. Then you apply a filter with transform() on the FeatureSet. You want to remove stopwords from stoplist and words with a docum

[2016-05-20 15:28] erickpeirson commented on #146
@epipremnum Some of those notebooks are hopelessly out of date -- I'll take a look soon and see what's going on. We are in bad need of an update to the documentation and examples. :-P

[2016-05-21 11:00] ghost commented on #146
Hi Erick,

thanks for your reply. I figured it out.

If i only have word counts for the abstract field, do i need a StructuredFeatureSet like in the example? It works for me if i set structured=False.

Thank you.

![screen2](https://cloud.githubusercontent.com/assets/18701898/15448002/af3b8148-1f53-11e6-9526-100c6c9d3c52.png)

[2016-05-21 23:02] ebaggott opened #147 "DTM import error"
Hello,

I'd like to use _tethne.model.corpus.DTMmodel.from_gerrish_. However, I can't load the requisite modules. Can you help? This is what I have tried:

from tethne.model.corpus import dtmmodel
from tethne.model.managers import DTMModelManager
from tethne.model import DTMModelManager
from tethne.model.corpus import dtmmodel

I always get the following import error:

ImportError: cannot import n

[2016-06-14 02:16] pucek80 opened #149 "Using Mallet file as corpus for the LDA model"
@erickpeirson ,

I am wondering if it is possible to use the file created via Mallet's import-dir function as corpus object for LDAModel? I've been going through the topic models visualization tutorial and that is where I am stuck. I have textual data in multiple files. With the more recent improvement to Tethne, it appears that the older tutorials don't work anymore. I will greatly appreciate any

[2016-06-20 20:51] erickpeirson commented on #149
@pucek80 Apologies for the delayed response. Two quick replies:

Reply 1. The docs are horribly out of date, and I am just this moment sprinting to update them. Give me a few days, and I'll update this thread when the updated docs are available (including the LDA tutorial).

Reply 2. Hmmm... that's a bit of a different use-case than we have previously had in mind. In most use-cases that we envisio

[2016-06-20 20:53] erickpeirson commented on #147
@ebaggott Sorry it has taken me a while to reply. Please stand by while I bring the docs up to date -- expect an update in this thread within the next few days.

[2016-06-20 20:57] erickpeirson commented on #146
@epipremnum If you're just topic modeling, `structured=False` is the way to go.

But it is odd that `transform()` is not working on the `StructuredFeatureSet`. I have created [TETHNE-126](https://diging.atlassian.net/browse/TETHNE-126) for this. When you have a moment, can you update this thread with the version of Tethne that you are using? (i.e. `pip show tethne`)

[2016-06-20 21:00] erickpeirson commented on #143
@epipremnum On the `develop` branch I have added a parameter called `parse_only` to the WoS and DfR readers. If you have a moment, it would be great to hear whether or not this addresses your need.

The relevant tests are here: https://github.com/diging/tethne/blob/develop/tethne/tests/test_readers_parseonly.py

[2016-06-20 21:03] erickpeirson commented on #136
I'm going to go ahead and close this for now, on the theory that this is a Python installation issue rather than a bug in Tethne. If anyone has more details, we can reopen it.

[2016-06-20 21:03] #136 closed, assigned to nobody

[2016-06-20 21:09] erickpeirson commented on #122
@herrtao Wow, somehow this completely slipped by me -- apologies for not responding.

Tethne is primarily designed for cases where you are starting with bibliographic metadata (e.g. from Web of Science, JSTOR, Zotero). If you're just working with a bunch of plain-text files, then there are potentially simpler approaches.

As a starting-place, you might take a look at the notebooks in [this project

[2016-06-20 21:10] erickpeirson commented on #106
I'm going to go ahead and close this. We can re-open if anyone can reproduce the problem and provide sample data.

[2016-06-20 21:10] #106 closed, assigned to nobody

[2016-06-28 20:23] ma-ji commented on #106
This is possible: the field (e.g. UT/DOI) used to build index should not have duplicates. Otherwise, records in corpus will be less than in the raw dataset. I had a similar issue, what I did is deleting all the fields of UT/DOI, and then use the auto-generated id instead. I'm not sure if this way makes sense? @erickpeirson

[2016-07-04 01:28] kevinbsc opened #152 "RuntimeError: MALLET import-file failed with exit code 127"
I am running Tethne on Ubuntu. The following error is captured.
The same code works fine in Windows 10 (tested).

`RuntimeError                              Traceback (most recent call last)
<ipython-input-16-db15c6a5998d> in <module>()
----> 1 model = mallet.LDAModel(metadata, featureset_name='abstract')
      2 model.Z = 20
      3 model.max_iter = 500

/home/bc/anaconda2/lib/python2.7/site-pack

[2016-07-04 02:16] kevinbsc opened #153 "ImportError: failed to find libmagic. Check your installation`"
I am running on Windows 10 and getting the error below:

`ImportError                               Traceback (most recent call last)
<ipython-input-21-80dbe9e6810e> in <module>()
      1 import nltk
----> 2 from tethne.readers import zotero
      3 #from pdfminer.pdfdocument import PDFDocument
      4 import matplotlib.pyplot as plt
      5 from nltk.corpus import stopwords

c:\anaconda\lib\site-

[2016-07-05 13:18] erickpeirson commented on #152
Hey @kevinbsc thanks for the bug report. Can you provide the following, so that we can figure out what's going on:
- What version of Python?
- What version of tethne? (`pip show tethne`)
- How did you install tethne? (e.g. pip?)

Thanks!

[2016-07-05 13:23] erickpeirson commented on #153
Hey @kevinbsc; unfortunately we don't have the personnel to support a Windows version right now.

That being said, it looks like the missing dependency (libmagic) is used by packages that we use in the next minor version. I've added [TETHNE-127](https://diging.atlassian.net/browse/TETHNE-127) to address this.

[2016-07-05 13:24] #89 closed, assigned to nobody

[2016-07-06 21:39] #153 closed, assigned to nobody

[2016-07-06 21:41] kevinbsc commented on #152
- Anaconda 2.7
- Tethne version 0.8
- pip was used for installation

Thanks for your prompt response!

[2016-07-08 18:01] ma-ji opened #154 "attachment_probability does not work in v0.8"
Hi, I found the use of attachment_probability in v0.8 is not consistent with former versions, and I cannot work this out with v0.8. Is this a fault of mine or discrepancy between versions?

This is a great package and I love it! However, I feel there should be some plans of developing in a higher level, so that different versions can keep consistent and share the same logic. I would love to contri

[2016-07-08 18:18] erickpeirson commented on #154
@ma47 Thanks for the report, and for using Tethne! Yes, there have been quite a few dramatic changes over the last several "minor" versions. Early versions had a sprawling and inefficient code-base, so there has been a lot of refactoring with a focus on core functionality. This will be [bug/TETHNE-128](https://diging.atlassian.net/browse/TETHNE-128).

Honestly, the best way to help keep this proje

[2016-07-08 18:26] erickpeirson commented on #152
@kevinbsc Thanks, that helps. Looks like tethne is having trouble finding MALLET. We should take a look at how the path provided to subprocess is generated, there must be something platform-specific going on there.  This will be [TETHNE-129](https://diging.atlassian.net/browse/TETHNE-129).

[2016-07-08 18:31] erickpeirson commented on #149
Well, that was more than a few days, but here's the updated LDA tutorial: http://diging.github.io/tethne/tutorial.mallet.html

@pucek80 Any thoughts on which strategy would be most helpful?

[2016-07-08 18:31] ma-ji commented on #154
@erickpeirson Thank you for your timely reply! I'm fully confident that this package will be much more popular. I was using CiteSpace, but applications like this are pretty limited in manipulating the data. Lots of "quick publications" have been made because of these tools, but they add little theoretical contributions to the discipline. I would like to use packages like tethne, by which we can as

[2016-07-08 18:31] erickpeirson commented on #147
This will be [TETHNE-130](https://diging.atlassian.net/browse/TETHNE-130)

[2016-07-08 18:34] ma-ji commented on #154
One more suggestion: you can write a paper to introduce this package and get published somewhere, therefore, we can cite your paper. This will boost your citation, and you really deserve this!

Like this one: http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0085777

[2016-07-08 18:37] erickpeirson commented on #122
This will be [TETHNE-131](https://diging.atlassian.net/browse/TETHNE-131)

[2016-07-08 18:40] erickpeirson commented on #154
@ma47 Thank you so much for your support! Yes, you're right about writing a paper, this is something that I have been thinking about -- hopefully this summer...

[2016-07-08 22:20] erickpeirson commented on #152
@kevinbsc What version of Ubuntu? I have made several tweaks, any of which might help, but I'd feel a lot better if I could replicate the problem. I'll spin up a vbox and try to mimic your setup, and see what happens.

Our CI service (Travis) actually builds on Ubuntu 12.04, which makes me worry that is a bit more complicated. But I'll keep poking at it.

[2016-07-08 23:28] kevinbsc commented on #152
I am using Ubuntu 14.04.4 LTS

Thanks!

[2016-07-11 12:03] erickpeirson commented on #152
Ok, setting up the box this morning. In the meantime: It's not documented yet, but `LDAModel` lets you override quite a few parameters on initialization. Try initializing `LDAModel` with `mallet_bin`, which should be the full path to the MALLET executable. For example, on my system:

[code]

I'd be curious to know if you get the same errors if you specify `mallet_bin` explicitly.

[2016-07-11 14:03] erickpeirson commented on #154
@ma47 I have uploaded a [pre-release "dev" build](https://pypi.python.org/pypi/tethne/0.8.1.dev2) to PyPI with a refactored `attachment_probability`. It would be great if you could try it out and let me know how it goes.

To install via pip, use the `--pre` flag, e.g.:

[code]

This tells pip to download the latest pre-release version (otherwise it will just download 0.8).

Example usage:

[code]

[2016-07-11 15:04] erickpeirson commented on #152
@kevinbsc I have been working under the (undersupported) theory that the 127 was due to Tethne not finding MALLET. But there's a good chance it's due to an inability to find Java. On a fresh base Ubuntu 14.04 Java is not installed, and attempting to use `LDAModel` raises the same 127 exit code.

What happens when you try to run Java from the command line?

[2016-07-11 15:08] erickpeirson commented on #149
For cross-reference, this is related to #122

[2016-07-11 15:13] erickpeirson commented on #143
This is now in v0.8.1.dev2, which can be installed via pip with `--pre`:

[code]

Example:

[code]

[2016-07-11 15:13] ma-ji commented on #154
Sure! will try this out today, thank you!

On Mon, Jul 11, 2016 at 10:03 AM, Erick notifications@github.com wrote:

[2016-07-11 15:16] erickpeirson commented on #66
Going to close this since there has been no updates in over a year. Please reopen if you're still having trouble with this.

[2016-07-11 15:16] #66 closed, assigned to nobody

[2016-07-11 15:17] #43 closed, assigned to nobody

[2016-07-11 15:18] erickpeirson commented on #56
This may be fixed in v0.8-beta. If anyone has a chance to test this in Windows, I'd appreciate hearing about it!

[2016-07-11 15:18] erickpeirson commented on #22
This is implemented for `LDAModel` -- going to close since this is predicated on an old API.

[2016-07-11 15:18] #22 closed, assigned to nobody

[2016-07-11 16:12] erickpeirson commented on #154
@ma47 Excellent thanks. Also, I created a Google Q/A group for Tethne users: https://groups.google.com/forum/#!forum/tethne-users

[2016-07-11 18:10] kevinbsc commented on #152
@erickpeirson I installed Mallet in Ubuntu.

`git clone https://github.com/mimno/Mallet.git`
`ant`

This resolved the issue. Thanks for your help.

[2016-07-11 19:07] erickpeirson commented on #152
@kevinbsc Fantastic! We should really fix the exceptions in that module so that they are more informative.

By the way, I just set up a Google Q/A group for Tethne users: (https://groups.google.com/forum/#!forum/tethne-users). If you're willing, it would be great to have your participation in getting it rolling. There are quite a few people who are new to Python and attempting to use Tethne, and I

[2016-07-11 19:12] #152 closed, assigned to nobody

[2016-07-11 20:40] erickpeirson commented on #146
Ok, I think that I see what happened here. In `StructuredFeatureSet` the `transform()` method was checking explicitly for `None` to exclude, and letting `False` slip by. In `FeatureSet`, `transform()` just checks for Falsiness. Fix forthcoming.

[2016-07-11 20:55] erickpeirson commented on #146
Ok, this is fixed in 1b70d10, and will make it into v0.8.1-beta.

@epipremnum If you're still using Tethne, it would be great to get your help building our new Q/A group ([here](https://groups.google.com/forum/#!forum/tethne-users)). I'm hoping that this can help make up for my slow pace on documentation. Thanks!

[2016-07-11 20:55] #146 closed, assigned to nobody

[2016-07-11 20:56] erickpeirson commented on #154
Fixed in 3164186, this will be released with v0.8.1-beta.

[2016-07-11 20:56] #154 closed, assigned to nobody

[2016-07-11 21:00] erickpeirson commented on #147
@ebaggott Just an update: DTM support was removed in v0.7, but I'm bringing it back for v0.8.1. I took it out because there was a nasty memory leak, but it looks like someone patched that so we're back in business. I'll let you know when it's ready to test.

In the meantime, can I get your help developing our new Q/A group, [here](https://groups.google.com/forum/#!forum/tethne-users)? It would be

[2016-07-12 20:47] erickpeirson commented on #122
@herrtao Take a look at [this thread](https://groups.google.com/forum/#!topic/tethne-users/3BAPhBXPGkk) for a related discussion. It's not exactly what you asked, but maybe helpful.

[2016-07-12 20:47] erickpeirson commented on #149
@pucek80 Take a look at [this thread](https://groups.google.com/forum/#!topic/tethne-users/3BAPhBXPGkk). Does that help at all?

[2016-07-13 21:36] erickpeirson commented on #147
@ebaggott Ok, DTM is back! For now it's in v0.8.1.dev5, which means that you'll have to upgrade Tethne with the --pre flag:

[code]

The API is a little different (see the example in the docstring, below). It would be great to get your feedback on this, and any ideas for how to make it easier to use.  I'll write up some better documentation soon.

Here's the docstring for reference:

[code]

[2016-07-13 21:41] erickpeirson commented on #122
@herrtao Ok, as of v0.8.1.dev5 this is now a feature! Since this is a pre-release version you'll have to upgrade Tethne with the --pre flag.

[code]

Here's an example. Please let me know what you think. If you run into issues, or have other requests, please check out our new [Q/A group](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!forum/tethne-users).

[code]

To use the c

[2016-07-13 21:45] #62 closed, assigned to nobody

[2016-08-04 02:36] kevinbsc opened #161 "Error in reading all wos files in a folder"
I am using a template ipython notebook "1. Working with data from the Web of Science".
Several files from Web of Science are located in a folder ("data/ds"). So I write

`corpus = wos.read('data/ds/')`

This returns an error:

`ValueError                                Traceback (most recent call last)
<ipython-input-29-4faa62a9b8fc> in <module>()
----> 1 corpus = wos.read('data/ds/')

/home/anaco

[2016-08-04 03:28] #161 closed, assigned to nobody

[2016-08-04 13:02] erickpeirson commented on #161
@kevinbsc Did you figure out what went wrong?

[2016-08-04 20:37] kevinbsc commented on #161
I figured it out. Thanks for getting back to me.

[2016-08-04 21:45] kevinbsc opened #162 "availability of topic coherence measure"
Hi, I am running topic modeling on the data from Web of Science. Is there a method available with tethne to determine a suitable number of topics for topic modeling? I was thinking about something like topic coherence measure discussed in such papers as http://dirichlet.net/pdf/mimno11optimizing.pdf (David Mimno et al. Optimizing Semantic Coherence in Topic Models) and http://svn.aksw.org/papers/2

[2016-09-14 07:23] hanloong7 opened #163 "Missing module"
Hi Eric,

I am new in Python and am currently using tethne to analyze WoS data. I am using Python 2.7.12 and have installed Anaconda 4.1. and tethne -0.8.

I have been following the tutorial from [http://pythonhosted.org/tethne/tutorial.quickstart.python.html](url)

I have tried importing tethne.readers, but it seems to be unsuccessful. I have inserted a picture of my command line.
![image](https:

[2016-09-14 11:58] erickpeirson commented on #163
Hi @hanloong93 , sorry to hear you're running into trouble.

First things first: that version of the documentation is waaay out of date. Try [this](http://diging.github.io/tethne/) instead.

What happens when you do `from tethne.readers import wos` ?

Looking at your terminal output, I suspect that the problem is that you have two versions of Python installed on your computer. `pip` is installing

[2016-09-14 11:59] erickpeirson commented on #163
Oh, by the way, we also have a users' group here: https://groups.google.com/forum/#!forum/tethne-users

This is another good place to get help

[2016-09-14 12:02] erickpeirson commented on #162
@kevinbsc Whoops, somehow missed this. Not implemented yet, but certainly possible. Coherence in Mimno et al 2012 looks pretty easy to implement. I've created [TETHNE-142](https://diging.atlassian.net/browse/TETHNE-142) for this.

[2016-09-14 12:03] erickpeirson commented on #149
Closing for now. Please re-open if this is not resolved.

[2016-09-14 12:03] #149 closed, assigned to nobody

[2016-10-12 00:11] pucek80 commented on #149
Erick, thank you for all the updates. I was sidetracked with other projects and never really got a chance to get back to this one. I will definitely take a look and let you know.

[2017-03-07 14:20] herrtao commented on #122
thanks for the reply!

[2017-09-28 19:06] hedgy123 commented on #147
Sorry, I know it's been at least a year since this was last looked at, but I was wondering if v0.8.1.dev5 is still the right version of tethne to use for DTM?  I do see dtm.py and dtm.pyc in this version's model/corpus, but nothing in __init__.py, so as a result when I try to use dtm.from_gerrish I get

    AttributeError: 'module' object has no attribute 'dtm'

Could you please help.  Thanks!

[2017-10-20 20:01] Patrick125 opened #176 "RELATIONSHIPS OF THE RUSSIAN ORTHODOX CHURCH AND CIVIL SOCIETY IN CONTEMPORARY RUSSIA"
RELATIONSHIPS OF THE RUSSIAN ORTHODOX CHURCH AND CIVIL SOCIETY IN CONTEMPORARY RUSSIA

ERSHOV BAA.1, KRYLOV NV1, STEPANENKO IS1
1 Voronezh State Technical University

Type: article in the magazine - a scientific article Language: Russian
Number: 1 Year: 2017 Pages: 30-31

JOURNAL:
 
 
INTERNATIONAL JOURNAL OF HUMANITIES AND NATURAL SCIENCES
Publisher: Limited Liability Company "Kapital" (Novosibir

[2018-02-21 12:24] nynkelys opened #177 "ImportError: cannot import name _iterable"
Hi Eric,

I have installed tethne-0.8 successfully, but when I try to import the package, I get the following error message:

[In]:
from tethne.readers import wos
[Out]:
ImportError: cannot import name _iterable

Any idea what went wrong?

[2018-02-21 14:52] nynkelys commented on #177
Update: I have included

    import tethne
    print(tethne)
    print(tethne.utilities)

in the feature.py file, but now get the following error message:

    AttributeError: 'module' object has no attribute 'utilities'

[2018-03-21 21:47] adil1993 opened #178 "Tethne Install Error setup.py egg_info"
I am getting error while installing tethne through pip

Collecting distribute (from slate->tethne)
  Using cached distribute-0.7.3.zip
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/7_/0psy1jvd4jjd3ckc7btqc4cr0000gn/T/pip-build-d5l2l4t1/distribute/setuptools/__init__.py",

[2018-06-26 09:04] sshojiro commented on #178
@adil1993 I have encountered the same error and am still working on fixing it.
I thought `pip install python-dotenv` was helpful, as a similar discussion mentions: https://github.com/theskumar/python-dotenv/issues/113#issue-324759355.
However, I couldn't fix this. The cause seems in `pip install distribute`. When you may find a way to solve, I would appreciate it to share it with me. Thank you in

[2018-06-26 19:00] jdamerow commented on #178
@adil1993 and @sshojiro, are you using Python 3 by any chance? It's not fully supported I believe. I did get your error when I ran ```pip3 install tethne```. Installing the development version seemed to work fine though ```pip3 install tethne --pre```.

[2018-06-27 02:16] sshojiro commented on #178
@jdamerow
Wow thank you for your comment, it was a great help to me and it worked! I'm looking forward to a stable version of the library for python3.

[2019-09-27 07:07] guanying-xue opened #179 "AttributeError: 'module' object has no attribute 'wos'"
Hi, I am using Jupyter Notebook and this is the error encountered when importing WoS plain text file. Could someone please help me resolve the issue? Thanks!

[2019-09-27 07:24] #179 closed, assigned to nobody

[2019-09-27 08:40] guanying-xue opened #180 "KeyError: 'date' same error in generating co-author and co-citation graphs"
KeyError: 'date' same error in generating co-author and co-citation graphs
<img width="1098" alt="Screen Shot 2019-09-27 at 4 37 03 PM" src="https://user-images.githubusercontent.com/55480309/65755325-79903e00-e145-11e9-944a-3d07e3732cb1.png">

[2019-11-05 22:29] MarieDumaz opened #181 "'module' object has no attribute 'wos'"
Hello, I tried following this tutorial https://pythonhosted.org/tethne/tutorial.coauthors.html#reading-wos-data to load a WoS file.

Here's the exact lines of code:
import tethne.readers as rd
papers = rd.wos.read("/Path/To/FirstDataSet.txt")

I get  'module' object has no attribute 'wos'

Could you please look into it? Thank you.

[2019-11-05 22:35] MarieDumaz commented on #181
Sorry, I didn't see that I was using the wrong documentation.
Used this one http://diging.github.io/tethne/ and it's working fine so far.

[2019-11-05 22:35] #181 closed, assigned to nobody

[2019-12-13 21:56] MarieDumaz commented on #180
Hey! I am facing the exact same issue when trying to generate a co-citation graph. I added the 'year' feature to the corpus but it did not help. Did you find a solution? Thank you!

[2020-06-02 13:47] lowspace opened #182 "Installation error"
I tried two ways, pip and git, to install tethne, but all failed and throw the same error:
[code]

[2020-06-02 15:11] lowspace commented on #182
I have somewhat solved this issue by using Pycharm to install.

[2021-07-09 18:43] jeffcsauer commented on #182
Bump - can't install using pip July 2021

[2021-10-02 10:30] mhaeussermann commented on #182
The latest release is not Python 3 compatible, it seems. Using `pip install git+https://github.com/diging/tethne` works.